<div class="tela">
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
    <div class="lado-direito">
        <div class="parte-superior">
            <div class="titulo-profs">
                <h1 class="professor text_principal">Favoritos</h1>
                <img src="../../../assets/images/svg-images/icone-fav.svg" class="imagem-prof">
            </div>
        </div>
        <div class="parte-inferior">    
            <div class="cards">
                <div class="box-card">
                    <div class="box-foto-perfil">
                        <img class="foto-perfil" src="../../../assets//images/imagem teste icone.jpeg">
                    </div>
                    <div class="box-conteudo">
                        <div class="box-nome">
                            <p class="campo-nome">Nome</p>
                            <h2 class="nome-prof">Felipe Rosse Cavalcante</h2>
                        </div>
                        <div class="divisoria"></div>
                        <div class="box-descricao">
                            <p class="camp-descricao">Descrição</p>
                            <p class="descricao-perfil">siasiubauibsuyaibsyuavusvauvsuyayuvsuyavsvauvsavusvaugvsgvaugsvauvsug</p>
                        </div>
                    </div>
                    <div class="box-area">
                        <div class="area-prof">
                            <p>Full-stack</p>
                        </div>
                        <button class="like">
                            <img class="estrela" src="../../../assets/images/estrela _com_like.png">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>