<div class="box-navbar">
    <div class="opcoes">
        <div class="box-botao-prof">
            <button type="button" class="botao-prof">
                <div class="imagem-botao">
                    <img class="img-teste" src="../../../assets//images/imagem teste icone.jpeg">
                </div>
                <div class="box-nome-botao-prof">
                    <p class="nome-botao-prof">Professores</p>
                </div>
            </button>
        </div>
        <div class="box-botao-fav">
            <button type="button" class="botao-fav">
                <div class="imagem-botao">
                    <img class="img-teste" src="../../../assets//images/imagem teste icone.jpeg">
                </div>
                <div class="box-nome-botao-fav">
                    <p class="nome-botao-fav">Favoritos</p>
                </div>
            </button>
        </div>
        <div class="box-botao-perfil">
            <button type="button" class="botao-perfil" >
                <div class="imagem-botao">
                    <img class="img-teste" src="../../../assets//images/imagem teste icone.jpeg">
                </div>
                <div class="box-nome-botao-perfil">
                    <p class="nome-botao-perfil">Perfil</p>
                </div>
            </button>
        </div>
    </div>
    <div class="box-botao-sair">
        <button type="button" class="botao-sair">
            <div class="imagem-botao">
                <img class="img-teste" src="../../../assets//images/imagem teste icone.jpeg">
            </div>
            <div class="box-nome-botao-sair">
                <p class="nome-botao-sair">Sair</p>
            </div>
        </button>
    </div>    

   
</div>
