<div class="box-navbar">
    <div class="opcoes">
        <div class="box-botao-prof">
            <button type="button" class="botao-prof" (click)="botaoProfs()">
                <div class="imagem-botao">
                    <img class="img-teste" src="../../../assets//images/imagem teste icone.jpeg">
                </div>
                <div class="box-nome-botao-prof">
                    <p class="nome-botao-prof text_medio">Professores</p>
                </div>
            </button>
        </div>
        <div class="box-botao-fav">
            <button type="button" class="botao-fav" (click)="botaoFavs()">
                <div class="imagem-botao">
                    <img class="img-teste" src="../../../assets//images/imagem teste icone.jpeg">
                </div>
                <div class="box-nome-botao-fav">
                    <p class="nome-botao-fav text_medio">Favoritos</p>
                </div>
            </button>
        </div>
        <div class="box-botao-perfil">
            <button type="button" class="botao-perfil" (click)="botaoPerfil()">
                <div class="imagem-botao">
                    <img class="img-teste" src="../../../assets//images/imagem teste icone.jpeg">
                </div>
                <div class="box-nome-botao-perfil">
                    <p class="nome-botao-perfil text_medio">Perfil</p>
                </div>
            </button>
        </div>
    </div>
    <div class="box-botao-sair">
        <button type="button" class="botao-sair" (click)="botaoSair()">
            <div class="box-nome-botao-sair">
                <p class="nome-botao-sair text_medio">Sair</p>
            </div>
        </button>
    </div>    
</div>
