.tela{
    display: flex;
    margin: 0px;
    padding: 0px;
    font-family: "Inconsolata", monospace;
}
.volta{
    width: 2.6vh;
    height: 2.6vh;
}
.LE{
    display: flex;
    flex-direction: column;
    width: 50%;
    float: left;
    height: 100vh;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
}


.conteudo{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 10vh 0 6vh 0;
    width: 46.43vh;
    height:  40vh ;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
    
}


.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    width: 100%;
    text-align: center;
}


.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    justify-content: space-between;

}


.inputs{
    display: flex;
    flex-direction: column;
    width: 400px;

    font-size: 16px;
    align-items: center;
    padding-top: 3px;
    gap: 20px;
}



.campo{
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
}


.label{
    padding-left: 20px;
    color: #0c0c0c;
}


.botao{
    display: flex;
    flex-direction: column;
   
}


.centro{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.LD{
    display: flex;
    flex-direction: column;
    width: 50%;
    float: left;
    justify-content: center;
    align-items: center;
    background-color: #E80049;
    height: 100vh;
    margin: 0px;
}


.cad{
    display: flex;
    align-items: center;
    justify-content: center;
}




.nav{
    width: 30px;
    height: 30px;
}


.logo{
    position: absolute;
    top: 92%;
    left: 96%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}