.tela{
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px 0 40px;
    width: 1326px;
    border-radius: 16px 16px 0 0 ;
    box-shadow: 12px 20px rgba(0,0,0,0.4);
}
.title{
    display: flex;
    align-items: center;
}
.login{
    display: flex;
    align-items: center;
    gap: 40px;
}
.textos{
    display: flex;
    width: 343px;
    justify-content: space-between;
}
.card-inicio{
    display: flex;
    gap: 80px;
    justify-content:space-between;
    width: 1326px;
    padding: 84px 40px 160px 40px;
    border-radius: 0 0 16px 16px;
    box-shadow: 12px 20px rgba(0,0,0,0.4);
}
.le{
    display: flex;
    align-items: center;
}
.ld{
    display: flex;
    flex-direction: column;
    max-width: 520px;
    height: 466px;
    justify-content: center;
    align-items: center;
    gap: 50%;
}
.btn-step{
    display: flex;
    height: 100%;
    align-items: center;
    
}
.img-st{
    height: 40px;
    width: 40px;
}