<div class="tela">
  <div class="navbar cor-bg">
    <div class="title">
      <h1 class="text_principal">Ajudaki</h1>
      <div class="box-logo">
        <img class="img-logo" src="../../../assets/images/(Logo) canva.png" />
      </div>
    </div>
    <div class="login">
      <div class="textos">
        <div><a class="text_medio">Site</a></div>
        <div><a class="text_medio">Professor</a></div>
        <div><a class="text_medio">Aluno</a></div>
      </div>
      <button class="btn_azul text_medio" type="button" routerLink="login">
        Entrar no site
      </button>
    </div>
  </div>
  <div></div>
  <div class="carousel">
    <div class="carousel-inner" [ngStyle]="{'transform': 'translateX(-' + currentSlide * 100 + '%)'}">
      <!-- Primeira tela -->
      <div class="carousel-item cor-bg">
        <div class="btn-step" (click)="prevSlide()">
          <button class="nada">
            <img class="img-st" src="../../../assets/images/Return-icon.png" />
          </button>
        </div>
        <div class="le">
          <img src="../../../assets/images/Faculdade-icon.png" />
        </div>
        <div class="ld">
          <div>
            <p class="text_principal">
              De alunos <br />
              Para alunos <a routerLink="perfil"> perfil</a>
            </p>
          </div>
          <div>
            <button class="btn_branco text_medio" type="button" routerLink="login">
              Entrar no site
            </button>
          </div>
        </div>
        <div class="btn-step" (click)="nextSlide()">
          <button class="nada">
            <img class="img-st" src="../../../assets/images/Next-icon.png" />
          </button>
        </div>
      </div>
      <!-- Segunda tela -->
      <div class="carousel-item cor-bg">
        <div class="btn-step" (click)="prevSlide()">
          <button class="nada">
            <img class="img-st" src="../../../assets/images/Return-icon.png" />
          </button>
        </div>
        <div class="le">
          <img src="../../../assets/images/Professor-icon.png" />
        </div>
        <div class="ld">
          <div>
            <p class="text_principal">
              Já pensou em poder ajudar seus colegas<br /> e ganhar uma grana extra?
            </p>
          </div>
          <div>
            <button class="btn_branco text_medio" type="button" routerLink="login">
              Entrar no site
            </button>
          </div>
        </div>
        <div class="btn-step" (click)="nextSlide()">
          <button class="nada">
            <img class="img-st" src="../../../assets/images/Next-icon.png" />
          </button>
        </div>
      </div>
      <!-- Terceira tela -->
      <div class="carousel-item cor-bg ">
        <div class="btn-step" (click)="prevSlide()">
          <button class="nada">
            <img class="img-st" src="../../../assets/images/Return-icon.png" />
          </button>
        </div>
        <div class="le">
          <img src="../../../assets/images/Estudante-icon.png" />
        </div>
        <div class="ld">
          <div>
            <p class="text_principal">
              Com dificuldades? <br />Seus colegas podem te ajudar!
            </p>
          </div>
          <div>
            <button class="btn_branco text_medio" type="button" routerLink="login">
              Entrar no site
            </button>
          </div>
        </div>
        <div class="btn-step" (click)="nextSlide()">
          <button class="nada">
            <img class="img-st" src="../../../assets/images/Next-icon.png" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
