<div class="tela">
  <div class="navbar">
    <app-navbar></app-navbar>
  </div>
  <div class="lado-direito">
    <div class="parte-superior">
      <div class="titulo-profs">
        <h1 class="professor text_principal">Professores</h1>
        <img
          src="../../../assets/images/svg-images/icone-prof.svg"
          class="imagem-prof"
        />
      </div>
      <div class="box-barraPesquisa">
        <input type="text" class="input-pesquisa" placeholder="Pesquise" />
        <button class="botao-pesquisa">
          <img
            src="../../../assets/images/svg-images/icone-lupa.svg"
            class="imagem-lupa"
          />
        </button>
      </div>
    </div>

    <div class="parte-inferior">
      <div class="cards">
        <div class="box-card" *ngFor="let card of $cards | async">
          <div class="box-foto-perfil">
            <img
              class="foto-perfil"
              src="../../../assets//images/imagem teste icone.jpeg"
            />
          </div>
          <div class="box-conteudo">
            <div class="box-nome">
              <p class=" text_peq gray">Nome</p>
              <h2 class=" text_modal">Felipe Rosse Cavalcante</h2>
            </div>
            <div class="box-descricao">
              <p class=" text_peq gray ">Descrição</p>
              <p class="descricao-perfil text_medio">
                siasiubauibsuyaibsyuavusvauvsuyayuvsuyavsvauvsavusvaugvsgvaugsvauvsug
              </p>
            </div>
          </div>
          <div class="box-area">
            <div class="area-prof">
              <p class="text_medio">Full-stack</p>
            </div>
            <button class="botao-fav" (click)="trocarImagem()">
              <img class="estrela" [src]="img_estrela" />
            </button>
          </div>
        </div> 
        
        <div class="box-card" *ngFor="let card of $cards | async">
          
          <div class="box-foto-perfil">
            <img
              class="foto-perfil"
              src="../../../assets//images/imagem teste icone.jpeg"
            />
          </div>
          <div class="box-conteudo">
            <div class="box-nome">
              <p class=" text_peq gray">Nome</p>
              <h2 class=" text_modal">Felipe Rosse Cavalcante</h2>
            </div>
            <div class="box-descricao">
              <p class=" text_peq gray ">Descrição</p>
              <p class="descricao-perfil text_medio">
                siasiubauibsuyaibsyuavusvauvsuyayuvsuyavsvauvsavusvaugvsgvaugsvauvsug
              </p>
            </div>
          </div>
          <div class="box-area">
            <div class="area-prof">
              <p class="text_medio">Full-stack</p>
            </div>
            <button class="botao-fav" (click)="trocarImagem()">
              <img class="estrela" [src]="img_estrela" />
            </button>
          </div>
        </div> 
        <div class="box-card" *ngFor="let card of $cards | async">
          
          <div class="box-foto-perfil">
            <img
              class="foto-perfil"
              src="../../../assets//images/imagem teste icone.jpeg"
            />
          </div>
          <div class="box-conteudo">
            <div class="box-nome">
              <p class=" text_peq gray">Nome</p>
              <h2 class=" text_modal">Felipe Rosse Cavalcante</h2>
            </div>
            <div class="box-descricao">
              <p class=" text_peq gray ">Descrição</p>
              <p class="descricao-perfil text_medio">
                siasiubauibsuyaibsyuavusvauvsuyayuvsuyavsvauvsavusvaugvsgvaugsvauvsug
              </p>
            </div>
          </div>
          <div class="box-area">
            <div class="area-prof">
              <p class="text_medio">Full-stack</p>
            </div>
            <button class="botao-fav" (click)="trocarImagem()">
              <img class="estrela" [src]="img_estrela" />
            </button>
          </div>
        </div>
        <div class="box-card" *ngFor="let card of $cards | async">
          
          <div class="box-foto-perfil">
            <img
              class="foto-perfil"
              src="../../../assets//images/imagem teste icone.jpeg"
            />
          </div>
          <div class="box-conteudo">
            <div class="box-nome">
              <p class=" text_peq gray">Nome</p>
              <h2 class=" text_modal">Felipe Rosse Cavalcante</h2>
            </div>
            <div class="box-descricao">
              <p class=" text_peq gray ">Descrição</p>
              <p class="descricao-perfil text_medio">
                siasiubauibsuyaibsyuavusvauvsuyayuvsuyavsvauvsavusvaugvsgvaugsvauvsug
              </p>
            </div>
          </div>
          <div class="box-area">
            <div class="area-prof">
              <p class="text_medio">Full-stack</p>
            </div>
            <button class="botao-fav" (click)="trocarImagem()">
              <img class="estrela" [src]="img_estrela" />
            </button>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>
