<div class="tela">
  <div class="navbar">
    <app-navbar></app-navbar>
  </div>
  <div class="lado-direito">
    <div class="parte-superior">
      <div class="titulo-profs">
        <h1 class="professor text_principal">Professores</h1>
        <img
          src="../../../assets/images/svg-images/icone-prof.svg"
          class="imagem-prof"
        />
      </div>
      <div class="box-barraPesquisa">
        <input type="text" class="input-pesquisa" placeholder="Pesquise" />
        <button class="botao-pesquisa">
          <img
            src="../../../assets/images/svg-images/icone-lupa.svg"
            class="imagem-lupa"
          />
        </button>
      </div>
    </div>

    <div class="parte-inferior">
      <div class="cards">       
        <app-card-prof *ngFor="let card of $cards | async" [professor]="card"></app-card-prof>
      </div>
    </div>
  </div>
</div>
