.tela{
    display: flex;
    flex-direction: row;
    background-color: #f1f1f1;
    height: 100%;
    
}


.navbar{
    position: fixed;
}


.box-perfil{
    margin-left: 30vh;
}


.box-titulo-perfil{
    display: flex;
    align-items: center;
    width: 25vh;
    height: 10vh;
    margin-left: 5vh;
    margin-top: 2vh;
    gap: 2vh;
}


.texto-perfil{
    font-size: 6vh;
}


.img-teste{
    display: flex;
    width: 6vh;
    height: 6vh;
    justify-content: center;
    margin-right: 10px;
}


.box-info-perfil{
    display: flex;
    flex-direction: column;
    margin-left: 28vh;
    gap: 2vh;
}


.box-infos-principais{
    display: flex;
    flex-direction: row;
    width: 110vh;
    height: 32vh;
    background-color: #ffff;
    border-radius: 12px;
    /* margin-left: 28vh; */
    margin-top: 5vh;
    box-shadow: 1vh 1vh rgba(0,0,0,0.03);
}


.box-foto-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vh;
    height: 32vh;
    /* background-color: purple; */
}


.foto-perfil{
    width: 25vh;
    height: 25vh;
    /* background-color: red; */
    border-radius: 20vh;
}


.box-nome-email-tel{
    display: flex;
    flex-direction: column;
    width: 45vh;
    height: 32vh;
}


.nome-nascimento{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6vh;
    gap: 5vh;
}


.nome{
    font-size: 4vh;
}


.nascimento{
    font-size: 2vh;
    margin-top: 3vh;
}



.linha-divisoria{
    height: 0.2vh;
    width: 43vh;
    margin-top: 2vh;
    background-color: var(--main-color);
}



.email-tel-cpf{
    display: flex;
    flex-direction: column;
    font-size: 2vh;
    margin-top: 2vh;
    gap: 2vh;
}


.box-cargo{
    display: flex;
    width: 30vh;
    height: 32vh;
}


.texto-cargo{
    font-size: 5vh;
    margin-top: 12vh;
    margin-left: 3vh;
}


.box-infos-secundarias{
    
    width: 110vh;
    height: 14vh;
    /* margin-left: 28vh; */
    background-color: #ffff;
    border-radius: 12px;
    box-shadow: 1vh 1vh rgba(0,0,0,0.03);
}


.infos-secundarias{
    display: flex;
    justify-content: center;
    gap: 8vh;
}


.box-endereco-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6vh;
    width: 14vh;
    height: 14vh;
    /* background-color: purple; */
}


.box-info-fav-prof{
    display: flex;
    width: 110vh;
    height: 22vh;
    /* background-color: purple; */
    
    gap: 2vh;
}


.box-fav{
    display: flex;
    align-items: center;
    width: 44vh;
    height: 22vh;
    /* background-color: blue; */
    background-color: #ffff;
    border-radius: 12px;
    box-shadow: 1vh 1vh rgba(0,0,0,0.03);
    gap: 2vh
}


.box-img-fav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22vh;
    height: 22vh;
    /* background-color: aqua; */
}


.img-fav{

    width: 20vh;
    height: 20vh;
}


.box-prof-fav{
    display: flex;
    width: 20vh;
    height: 22vh;
    flex-direction: column;
    justify-content: center;
    /* background-color: green; */
    gap: 2.1vh;
}


.texto-fav{
    font-size: 2.5vh;
}


.numero-fav{
    font-size: 8vh;
}


.box-prof-serProf{
    width: 64vh;
    height: 22vh;
    border-radius: 12px;
    box-shadow: 1vh 1vh rgba(0,0,0,0.03);
}


.box-ser-prof{
    display: flex;
    width: 64vh;
    height: 22vh;
    background-color: var(--main-color);
    border-radius: 12px;
    box-shadow: 1vh 1vh rgba(0,0,0,0.03);
}


.box-texto-serProf{
    width: 40vh;
    height: 15vh;
    margin-top: 4vh;
    margin-left: 2vh;
    /* background-color: green; */
}


.titulo-serProf{
    font-size: 4vh;
    color: #ffff;
}


.texto-serProf{
    margin-top: 2vh;
    font-size: 2.3vh;
    color: #ffff;
}


.box-img-serProf{
    display: flex;
    align-items: center;
    width: 6vh;
    height: 22vh;
    margin-left: 16vh;
    /* background-color: blue; */
}


.box-prof-precos{
    display: flex;
    width: 64vh;
    height: 22vh;
    background-color: #ffff;
    border-radius: 12px;
    box-shadow: 1vh 1vh rgba(0,0,0,0.03);
    
}


.box-precos{
    display: flex;
    flex-direction: column;
    width: 30vh;
    height: 22vh;
    /* background-color: green; */
    gap: 1vh;
}


.preco{
    display: flex;
    flex-direction: column;
    margin-left: 2vh;
    margin-top: 3vh;
    gap: 2vh;
}


.numero-preco{
    font-size: 4vh;
}


.texto-faixa-preco{
    font-size: 2vh;
}   


.box-logo{
    display: flex;
    width: 12vh;
    height: 22vh;
    margin-left: 22vh;
    align-items: center;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: var(--main-color);
}


.box-infos-prof{
    width: 110vh;
    height: 100vh;
    /* background-color: purple; */
}


.box-contatos-descricoes{
    display: flex;
    gap: 2vh;
}


.box-contatos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 44vh;
    height: 46vh;
    /* background-color: blue; */
}


.box-whats{
    width: 100%;
    height: 10vh;
    /* background-color: green; */
    background-color: #1bc900;
    border-radius: 12px;
}


.box-discord{
    width: 100%;
    height: 10vh;
    background-color: rgb(53, 25, 177);
    border-radius: 12px;
    box-shadow: 1vh 1vh rgba(0,0,0,0.03);
}


.box-teams{
    width: 100%;
    height: 10vh;
    background-color: rgb(77, 104, 223);
    border-radius: 12px;
    box-shadow: 1vh 1vh rgba(0,0,0,0.03);
}




.box-descricoes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 64vh;
    height: 46vh;
    /* background-color: red; */
}


.box-descri-rapida{
    width: 100%;
    height: 14vh;
    background-color: black;
    background-color: #ffff;
    border-radius: 12px;
    box-shadow: 1vh 1vh rgba(0,0,0,0.03);
}


.box-descri-longa{
    width: 100%;
    height: 30vh;
    background-color: grey;
    background-color: #ffff;
    border-radius: 12px;
    box-shadow: 1vh 1vh rgba(0,0,0,0.03);
}


.box-semana{
    display: flex;
    width: 100%;
    height: 18vh;
    margin-top: 3vh;
    /* background-color: red; */
    justify-content: space-between;
    
}


.box-dia-semana{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    width: 15vh;
    height: 10vh;
    color: white;
    border-radius: 2vh;
    background-color: var(--main-color);
}