.tela{
    display: flex;
    flex-direction: row;
    background-color: #f1f1f1;
}


.box-titulo-perfil{
    display: flex;
    align-items: center;
    width: 25vh;
    height: 10vh;
    margin-left: 5vh;
    margin-top: 2vh;
    gap: 2vh;
}


.texto-perfil{
    font-size: 6vh;
}


.img-teste{
    display: flex;
    width: 6vh;
    height: 6vh;
    justify-content: center;
    margin-right: 10px;
}


.box-info-perfil{
    display: flex;
    flex-direction: column;
    margin-left: 28vh;
    gap: 2vh;
}


.box-infos-principais{
    display: flex;
    flex-direction: row;
    width: 110vh;
    height: 32vh;
    background-color: #ffff;
    border-radius: 12px;
    /* margin-left: 28vh; */
    margin-top: 5vh;
    box-shadow: 1vh 1vh rgba(0,0,0,0.03);
}


.box-foto-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vh;
    height: 32vh;
    /* background-color: purple; */
}


.foto-perfil{
    width: 25vh;
    height: 25vh;
    /* background-color: red; */
    border-radius: 20vh;
}


.box-nome-email-tel{
    display: flex;
    flex-direction: column;
    width: 45vh;
    height: 32vh;
}


.nome-nascimento{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6vh;
    gap: 5vh;
}


.nome{
    font-size: 4vh;
}


.nascimento{
    font-size: 2vh;
    margin-top: 3vh;
}



.linha-divisoria{
    height: 1px;
    width: 43vh;
    margin-top: 2vh;
    background-color: var(--main-color);
}



.email-tel-cpf{
    display: flex;
    flex-direction: column;
    font-size: 2vh;
    margin-top: 2vh;
    gap: 2vh;
}


.box-cargo{
    display: flex;
    width: 30vh;
    height: 32vh;
}


.texto-cargo{
    font-size: 5vh;
    margin-top: 12vh;
    margin-left: 3vh;
}


.box-infos-secundarias{
    
    width: 110vh;
    height: 14vh;
    /* margin-left: 28vh; */
    background-color: #ffff;
    border-radius: 12px;
    box-shadow: 1vh 1vh rgba(0,0,0,0.03);
}


.infos-secundarias{
    display: flex;
    justify-content: center;
    gap: 8vh;
}


.box-endereco-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6vh;
    width: 14vh;
    height: 14vh;
    /* background-color: purple; */
}


.box-info-fav-prof{
    display: flex;
    width: 110vh;
    height: 22vh;
    /* background-color: purple; */
    
    gap: 2vh;
}


.box-fav{
    display: flex;
    align-items: center;
    width: 44vh;
    height: 22vh;
    /* background-color: blue; */
    background-color: #ffff;
    border-radius: 12px;
    box-shadow: 1vh 1vh rgba(0,0,0,0.03);
    gap: 2vh
}


.box-img-fav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22vh;
    height: 22vh;
    /* background-color: aqua; */
}


.img-fav{

    width: 20vh;
    height: 20vh;
}


.box-prof-fav{
    display: flex;
    width: 20vh;
    height: 22vh;
    flex-direction: column;
    justify-content: center;
    /* background-color: green; */
    gap: 2.1vh;
}


.texto-fav{
    font-size: 2.5vh;
}


.numero-fav{
    font-size: 8vh;
}


.box-prof-serProf{
    width: 64vh;
    height: 22vh;
    border-radius: 12px;
    box-shadow: 1vh 1vh rgba(0,0,0,0.03);
}


.box-ser-prof{
    display: flex;
    width: 64vh;
    height: 22vh;
    background-color: var(--main-color);
    border-radius: 12px;
    box-shadow: 1vh 1vh rgba(0,0,0,0.03);
}


.box-texto-serProf{
    width: 40vh;
    height: 15vh;
    margin-top: 4vh;
    margin-left: 2vh;
    /* background-color: green; */
}



.titulo-serProf{
    font-size: 4vh;
    color: #ffff;
}


.texto-serProf{
    margin-top: 2vh;
    font-size: 2.3vh;
    color: #ffff;
}


.box-img-serProf{
    display: flex;
    align-items: center;
    width: 6vh;
    height: 22vh;
    margin-left: 16vh;
    /* background-color: blue; */
}