<div class="tela">
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
    <div class="box-perfil">
        <div class="box-titulo-perfil">
            <h1 class="texto-perfil">Perfil</h1>
            <img class="img-teste" src="../../../assets//images/imagem teste icone.jpeg">
        </div>
        <div class="box-info-perfil">
            <div class="box-infos-principais">
                <div class="box-foto-perfil">
                    <img class="foto-perfil" src="../../../assets//images/imagem teste icone.jpeg">
                </div>
                <div class="box-nome-email-tel">
                    <div class="nome-nascimento">
                        <p class="nome">Felipe Cavalcante</p>
                        <p class="nascimento">11/01/2005</p>
                    </div>
                    <div class="linha-divisoria"></div>
                    <div class="email-tel-cpf">
                        <div class="email">emailTeste123@gmail.com</div>
                        <div class="telefone">(XX)XXXXX-XXXX</div>
                        <div class="cpf">XXX-XXX-XXX-XX</div>
                    </div>
                </div>
                <div class="box-cargo">
                    <h2 class="texto-cargo">Aluno</h2>
                </div>
            </div>
            <div class="box-infos-secundarias">

            </div>
            <div class="box-info-fav">

            </div>
        </div>
    </div>
</div>

