.conteudo {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 10vh; /* Substituí 120px por 10vh */
    height: 100vh;
    background-color: var(--bg-color);
  
}

.opcoes {
    height: 9vh;
}


.box-voltar{
    display: flex;
    align-items: center;
    margin-left: 30px;
    height: 50px;
    width: 100px;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
    
}

.img-arrow-back{
    height: 35px;
    width: 90px;
}
.volta{
    height: 35px;
    width: 90px;
}

.box-infos {
    display: flex;

   
}

.dados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 1;
    gap: 4vh;
    transition: opacity 0.5s ease-in-out;
}

.dados-pessoais.hidden {
    opacity: 0;
}

.campos-pessoais {
    display: flex;
    flex-direction: column;
    padding: 4vh 2vh; /* Substituí 40px 20px por 4vh 2vh */
    border-radius: 12px;
    background-color: white;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
    gap: 1.2vh; /* Substituí 12px por 1.2vh */
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 63.77vh;
}

.ld {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
}

.steps-1 {
    display: flex;
    gap: 5.5vh; /* Substituí 55px por 5.5vh */
    padding-left: 10%;
}

.steps {
    display: flex;
    gap: 5.5vh; /* Substituí 55px por 5.5vh */
}

.step-c {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    border-radius: 4vh; /* Substituí 40px por 4vh */
    width: 3.4vh; /* Substituí 34px por 3.4vh */
    height: 3.4vh; /* Substituí 34px por 3.4vh */
}

.step-n {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray-color);
    border-radius: 4vh; /* Substituí 40px por 4vh */
    width: 3.4vh; /* Substituí 34px por 3.4vh */
    height: 3.4vh; /* Substituí 34px por 3.4vh */
}

.inferior {
    display: flex;
    width: 100%;
    gap: 4vh; /* Substituí 40px por 4vh */
    justify-content: center;
    align-items: center;
}

.back-step-1 {
    width: 24.7vh; /* Substituí 247px por 24.7vh */
    height: 4.9vh; /* Substituí 49px por 4.9vh */
    background-color: transparent;
    color: transparent;
    border: none;
}

.dados-endereco {
    width: 30vh; /* Substituí 300px por 30vh */
    height: 50vh; /* Substituí 500px por 50vh */
    margin-left: 10vh; /* Substituí 100px por 10vh */
    border: 2px solid #000000;
    border-radius: 1.3vh; /* Substituí 13px por 1.3vh */
}

.input-img{
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 43.46vh;
    height: 43.46vh;
    border: 0.3vh black dashed;
    border-radius: 8px;
}

.campos-endereco{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
    font-size: 16px;
    margin-top: 12px;
    margin-left: 10px;
    gap: 40px;
}


.input-endereco{
    width: 155px;
    height: 25px;
    border-radius: 5px;

}


.dados-foto{
    display: flex;
    margin-left: 165px;
    width: 300px;
    height: 300px;
    border: 2px solid #000000;
    border-radius: 13px;
    justify-content: center;
    align-items: center;
}


.img-mais{
    width: 100px;
    height: 100px;
}



.texto-sobre{
    margin-left: 28vh;
    font-size: 40px;
}


.box-etapas{
    width: 100%;
    height: 40px;
    margin-top: 20px;
}


.botao-posicao{
    display: flex;
    justify-content: center;
    margin-left: 90vh;
    margin-bottom: 20px;
}


.botao{
    width: 150px;
    height: 45px;
    background-color: #E80049;
    color: white;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
    box-shadow: 5px 5px 6px #ccc;
}


.botao:hover{
    transform: scale(1.07);
}


.confirmar-cadastro{
    width: 150px;
    height: 45px;
    background-color: #618CFA;
    color: white;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
    box-shadow: 5px 5px 6px #ccc;
}


.confirmar-cadastro:hover{
    background-color:  #7298f8;
    transform: scale(1.07);
}


.campos-prof{
    display: flex;
    flex-direction: row;
    gap: 45px;
    width: 180vh;
    height: 500px;
    margin-left: 80px;
    margin-top: 20px;
}


.box-discricoes{
    display: flex;
    flex-direction: column;
    height: 460px;
    width: 500px;
    
}


.input-descr{
    margin-left: 15px;
    border: 1px solid black;
    border-radius: 8px;
    width: 560px;
    height: 45px;
}


.p-descri-rapida{
    font-size: 13px;
    margin-top: 8px;
    margin-left: 25px;
}

.p-descri-longa{
    font-size: 13px;
    margin-left: 20px;
    margin-top: 8px;
}


.box-input-descrLonga{
    margin-top: 50px;
}


.input-descrLonga{
    width: 560px;
    height: 100px;
    border: 1px solid  black;
    border-radius: 8px;
    margin-left: 15px;
}


.box-area-precos{
    display: flex;
    flex-direction: row;
    height: 140px;
    width: 300px;
    gap: 45px;
    
}


.area{
    width: 300px;
    height: 100px;
}


.input-area{
    border: 1px solid  black;
    border-radius: 7px;
    width: 150px;
    height: 40px;
    margin-left: 34px;
}


.box-precos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 295px;
    height: 100px;
    background-color: white;
    border-radius: 2vh;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
}


.precos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 100px;
    gap: 20px
}


.input-preco1{
    border: 1px solid  black;
    border-radius: 6px;
    width: 100px;
    height: 35px;
}


.input-preco2{
    border: 1px solid  black;
    border-radius: 6px;
    width: 100px;
    height: 35px;
}


.campos-prof-contatoHorario{
    display: flex;
    justify-content: center;
    width: 600px;
    height: 500px;
    gap: 20px;
    
}


.title-contatoHorario{
    font-size: 18px;
}


.box-contatos{  
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 130px;
    border: 2px solid;
    border-color:  black;
    border-radius: 14px;
}


.box-titleInput{
    margin-top: 10px;
    margin-left: 8px;
}


.input-contato{
    width: 200px;
    height: 40px;
    border-radius: 18px;
}

.box-descri-rapida{
    width: 605px;
    height: 113px;
    border-radius: 2vh;
    background-color: white;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
}
.box-input-descrLonga{
    width: 605px;
    height: 157px;
    border-radius: 2vh;
    background-color: white;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
}

.box-area{
    width: 230px;
    height: 110px;
    border-radius: 2vh;
    background-color: white;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
}

h2{
font-weight: normal;
margin-top: 10px;
margin-left: 20px;
margin-bottom: 10px;

}

.baixo{
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 610px;
}


*/
.legenda{
    justify-content: center;
    background-color: palevioletred;
    width: 355px;
    height: 150px;
}

.texto_legenda{
    font-weight: normal;
    font-size: 48px;
}

.texto_descricao{

    
    font-weight: normal;

    transform: translateX(100%);
    gap: 10px;
    
}

.descricao-rapida{
    font-size: 100%;
}

.descricao-longa{
    font-size: 100%;
    margin-top: 10px;
}

.box-descri-longa{
    height: 230px;
    width: 605px;
}

.descricao-area{
    font-size: 130%;
    margin-left: 36px;
}

.p-descri-area{
    font-size: 13px;
    margin-top: 8px;
    margin-left: 15px;
}

.descricao-preco{
    font-size: 130%;
    margin-right: 25px;
}

.sub-texto{
    text-align: center;
    font-size: 4.44vh;
    font-family: "Montserrat", sans-serif;
}

.box-condicional{
  
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        opacity: 1;
        gap: 50vh;
        transition: opacity 0.5s ease-in-out;
    

}

.titulo-conteudo{
    font-size: 200%;
    margin-bottom: 40px;
    margin-top: 45px;
    font-weight: normal;
}

.escolha-descricao{
    text-align: left;
    font-size: 210%;
    margin-bottom: 40px;
    margin-left: 105px;
}
.superior{
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 2vh;
}

.card{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 52vh;
    background-color: white;
    padding: 7.58vh 7.45vh;
    border-radius: 16px;
    box-shadow: 20px 20px rgba(0,0,0,0.2);
    justify-content: space-between;
    align-items: center;
}
.topo-card{
    width: 100%;
}
.back{
    background-color: transparent;
    border: none;
    transition: transform 0.2s ease;
    text-align: left;

}

.back:hover{
    transform: scale(1.4);
    color: var(--main-color);
}

.descricao{
    padding-left: 40px;
    color: var(--gray-color);
}
.texto{
    display: flex;
    flex-direction: column;
    gap:2vh;

}
.fundo{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    
}
.direita{
    margin-left: 10vh;
}
.esquerda{
    margin-right: 10vh;
}
.img-cerebro{
    max-height: 36vh;
    max-width: 36vh;
    
}

.img-calculo{
    height: 24vh;
    width: 24vh;

}

.img-conta{
    height: 36vh;
    width: 36vh;

}

.img-prof{
    height: 28vh;
    width: 28vh;

}
.img-lampada{
    max-height: 40vh;
    max-width: 40vh;
    margin-left: 4vh;

}
.img-cabeca{
    position: absolute;
    right: 670px;
    bottom: 350px;
}

.button{
   
    height: 30px;
    width: 125px;
    border-radius: 4px;
    margin: 10px;
    background-color: #E80049;
    border: none;
    color: white;
}

.horario{
    margin-top: 35px;
    height: 80px;
    width: 250px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

.texto_horario{
    display: flex;
    justify-content: center;
    font-size: 135%;
    
}

.input{
    margin-left: 25px;
    height: 35px;
    width: 90px;
}

.prof_contatos{
    height: 353px;
    width: 500px;

    background-color: #7298f8;
}

.contatos{
    width: 500px;
    height: 360px;

    background-color: transparent;
}

.discord{
    width: 380px;
    height: 70px;

    border-radius: 5px;
    margin-left: 7px;
    

    background-color: white;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}
.discord_icon{
    width: 90px;
    height: 70px;

    background-image: url("https://assets-global.website-files.com/6257adef93867e50d84d30e2/636e0a6a49cf127bf92de1e2_icon_clyde_blurple_RGB.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;

    margin: 5px;
}

.input-discord{
    width: 260px;
    height: 50px;
    margin-top: 8px;
    margin-left: 90px;
    border-radius: 8px;
}

.whatsapp{
    width: 380px;
    height: 70px;

    border-radius: 5px;
    margin-left: 7px;

    background-color: white;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}
.whatsapp_icon{
    width: 90px;
    height: 70px;
    
    background-image: url("https://cdn.icon-icons.com/icons2/2699/PNG/512/whatsapp_logo_icon_170905.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;

    margin: 5px;
}

.input-whatsapp{
    width: 260px;
    height: 50px;
    margin-top: 8px;
    margin-left: 90px;
    border-radius: 8px;
}

.teams{
    width: 380px;
    height: 70px;

    border-radius: 5px;
    margin-left: 7px;

    background-color: white;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}
.teams_icon{
    width: 90px;
    height: 70px;

    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Microsoft_Office_Teams_%282018%E2%80%93present%29.svg/2203px-Microsoft_Office_Teams_%282018%E2%80%93present%29.svg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;

    margin: 5px;
}

.input-teams{
    width: 260px;
    height: 50px;
    margin-top: 8px;
    margin-left: 90px;
    border-radius: 8px;
}

.descricao-prof-contatos{
    text-align: center;
    font-weight: normal;
    margin-right: 110px;
    margin-top: 15px;
}

