<div class="tela">
  <div class="parte-superior">
    <div class="box-voltar">
      <button type="button" class="btn_back text_medio" (click)="botaoVoltar()">
        <img class="volta" src="../../../assets/images/arrow back.png" />Voltar
      </button>
    </div>
  </div>
  <div class="parte-inferior">
    <div class="box-perfil">
      <div class="box-infos-principal">
        <div class="box-nome-fav">
          <div class="nome-prof text_principal bold">{{ infoProf?.nome }}</div>
          <!-- <div>
            <button class="botao-fav" (click)="updateFavorite()">
              <img
                class="estrela"
                *ngIf="!professor.myFavorite"
                src="../../../assets/images/estrela_sem_like.png"
              />
              <img
                class="estrela"
                *ngIf="professor.myFavorite"
                src="../../../assets/images/estrela_com_like.png"
              />
            </button>
          </div> -->
        </div>
        <div class="box-foto">
          <img
            class="foto-perfil"
            src="../../../assets//images/imagem teste icone.jpeg"
          />
        </div>
      </div>
      <div class="box-infos">
        <div class="box-descr">
          <p class="titulo-descricao text_medio">Descrição</p>
          <p class="descricao text_medio"> {{ infoProf?.descricao }} </p>
        </div>
        <div class="box-coment-contatos">
          <div class="box-coment">
            <div class="parte-superior-coment">
              <p class="titulo-coment text_medio">Oque estão dizendo</p>
            </div>
            <div class="parte-inferior-coment">
              <div class="cards-coment">
                <div class="box-card">
                  <div class="box-foto-coment">
                    <img
                      class="foto-coment"
                      src="../../../assets//images/imagem teste icone.jpeg"
                    />
                  </div>
                  <div class="box-nome-coment">
                    <p class="nome-coment text_peq italico">
                      Felipe Rosse Cavalcante
                    </p>
                    <p class="coment text_medio">
                      comentario sobre o professor
                    </p>
                  </div>
                </div>
                <div class="box-card">
                  <div class="box-foto-coment">
                    <img
                      class="foto-coment"
                      src="../../../assets//images/imagem teste icone.jpeg"
                    />
                  </div>
                  <div class="box-nome-coment">
                    <p class="nome-coment text_peq italico">
                      Felipe Rosse Cavalcante
                    </p>
                    <p class="coment text_medio">
                      comentario sobre o professor
                    </p>
                  </div>
                </div>
                <div class="box-card">
                  <div class="box-foto-coment">
                    <img
                      class="foto-coment"
                      src="../../../assets//images/imagem teste icone.jpeg"
                    />
                  </div>
                  <div class="box-nome-coment">
                    <p class="nome-coment text_peq italico">
                      Felipe Rosse Cavalcante
                    </p>
                    <p class="coment text_medio">
                      comentario sobre o professor
                    </p>
                  </div>
                </div>
                <div class="box-card">
                  <div class="box-foto-coment">
                    <img
                      class="foto-coment"
                      src="../../../assets//images/imagem teste icone.jpeg"
                    />
                  </div>
                  <div class="box-nome-coment">
                    <p class="nome-coment text_peq italico">
                      Felipe Rosse Cavalcante
                    </p>
                    <p class="coment text_medio">
                      comentario sobre o professor
                    </p>
                  </div>
                </div>
              </div>
              <div class="box-comentar">
                <div class="box-card">
                  <div class="box-foto-coment">
                    <img
                      class="foto-coment"
                      src="../../../assets//images/imagem teste icone.jpeg"
                    />
                  </div>
                  <div class="box-nome-coment">
                    <p class="gray italico text_peq">Você</p>
                    <input
                      type="text"
                      class="comentario-user text_medio"
                      placeholder="Fazer comentario"
                    />
                  </div>
                </div>
                <button class="btn-envio" (click)="sendComment()">
                  <img
                    [src]="img_aviao"
                    class="img-aviao"
                    [class.move-right]="isMovedRight"
                    [class.fade-in]="isFadingIn"
                  />
                </button>
              </div>
            </div>
          </div>
          <div class="box-contatos">
            <div class="box-whats">
              <div class="box-icone">
                <img
                  class="img-contato"
                  src="../../../assets//images/svg-images/whats-icon.svg"
                />
              </div>
              <p class="nome-contato text_medio">Whatsapp</p>
            </div>
            <div class="box-discord">
              <div class="box-icone">
                <img
                  class="img-contato"
                  src="../../../assets//images/svg-images/discord-icon.svg"
                />
              </div>
              <p class="nome-contato text_medio">Discord</p>
            </div>
            <div class="box-teams">
              <div class="box-icone">
                <img
                  class="img-contato"
                  src="../../../assets//images/svg-images/teams-icon.svg"
                />
              </div>
              <p class="nome-contato text_medio">Teams</p>
            </div>
          </div>
        </div>
        <div class="box-precos-dias">
          <div class="box-especialidade-preco">
            <p class="infos text_medio gray">Infos</p>
            <div class="box-titulo-especialidade">
              <p class="titulo-especialidade text_peq gray bold">
                Especialidade
              </p>
            </div>
            <div class="box-especialidade">
              <p class="especialidade text_medio">full-stack</p>
            </div>
            <div class="box-faixa-preco">
              <p class="titulo-faixa-preco text_peq bold gray">
                Faixa de preço
              </p>
              <p class="menor-preco text_sub bold italico">
                R${{ infoProf.preco_minimo }}
              </p>
              <p class="maior-preco gray text_peq italico">
                R${{ infoProf.preco_maximo}}
              </p>
            </div>
          </div>
          <div class="box-dias">
            <div class="box-titulo">
              <p class="titulo-dias gray bold text_peq">Horários</p>
            </div>
            <div class="box-dias-horarios">
              <div class="box-dias">
                <p class="dia text_medio">Segunda</p>
                <p class="dia text_medio">Terça</p>
                <p class="dia text_medio">Quarta</p>
                <p class="dia text_medio">Quinta</p>
                <p class="dia text_medio">Sexta</p>
                <p class="dia text_medio">Sábado</p>
                <p class="dia text_medio">Domingo</p>
              </div>
              <div class="box-horarios">
                <p class="horario text_medio">{{infoProf.segunda}}</p>
                <p class="horario text_medio">{{infoProf.terca}}</p>
                <p class="horario text_medio">{{infoProf.quarta}}</p>
                <p class="horario text_medio">{{infoProf.quinta}}</p>
                <p class="horario text_medio">{{infoProf.sexta}}</p>
                <p class="horario text_medio">{{infoProf.sabado}}</p>
                <p class="horario text_medio">{{infoProf.domingo}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
