<div class="tela">
    <div class="parte-superior">
        <div class="box-voltar">  
            <button type="button" class="btn_back text_medio">
                <img class="volta" src="../../../assets/images/arrow back.png">Voltar
            </button>
        </div>
    </div>
    <div class="parte-inferior">
        <div class="box-perfil">
            <div class="box-infos-principal">
                <div class="box-nome-fav">
                    <div class="nome-prof text_principal">Felipe Rosse Cavalcante</div>
                    <div class="botao-fav">botao legal</div>
                </div>
                <div class="box-foto">
                    <img class="foto-perfil" src="../../../assets//images/imagem teste icone.jpeg">
                </div>
            </div>
            <div class="box-infos">
                <div class="box-descr"></div>
                <div class="box-coment-contatos"></div>
                <div class="box-precos-dias"></div>
            </div>
        </div>
    </div>
</div>