*{
    margin: 0px;
   
}
/* /////////Scroll bar///////// */

::-webkit-scrollbar {
    width: 2vh; /* Largura da barra de rolagem */
    background-color: #f1f1f1;
    padding:0 100p

}

::-webkit-scrollbar-thumb {
    background-color: #E80049; /* Cor do polegar da barra de rolagem */
    border-radius: -5px; /* Raio de borda do polegar da barra de rolagem */
    border-radius: 2vh;
    
    
}
/* /////////Conteúdo///////// */
.nada{
    border: none;
    background-color: none;
    border-radius: 80px;
    box-shadow: 4px 4px rgba(0,0,0,0.2);
    padding: 10px  10px 10px 10px;
    transition: transform 0.2s ease;
}
.nada:hover{
    box-shadow: none;
    background-color: #c7c7c7;
    
    transform: scale(0.96);
}
/* /////////Conteúdo///////// */
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 120px 0 120px;
    background-color: var(--bg-color);
    height: 100vh;
    width: 100%;
}

/* /////////Cores/////////// */
:root{
    --main-color: #E80049;
    --blue-color: #3f74fa;
    --bg-color: #f1f1f1;
    --gray-color: #75676C;
   
}
.cor-bg{
    background-color: var(--bg-color);
}
.cor-r{
    background-color: var(--main-color);
}

/* /////////Fontes/////////// */
.text_principal{
    font-size: 7vh;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.text_sub{
    font-size: 4.44vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 80;
}
.text_modal{
    font-size: 3.70vh;
    font-family: "PT Sans", sans-serif;
    font-weight: lighter;
}
.text_medio{
    font-size: 2.22vh;
    font-family: "PT Sans", sans-serif;
}
.text_aviso{
    font-size: 1.85vh;
    font-family: "PT Sans", sans-serif;
}
.text_peq{
    font-size: 1.48vh;
    font-family: "PT Sans", sans-serif;
}

.text_principal-w{
    font-size: 5.37vh;
    font-family: "PT Mono", monospace;
    color: white;
}
.text_sub-w{
    font-size: 4.44vh;
    font-family: "PT Mono", monospace;
    color: white;
}
.text_modal-w{
    font-size: 3.70vh;
    font-family: "PT Sans", sans-serif;
    color: white;
}
.text_medio-w{
    font-size: 2.22vh;
    font-family: "PT Sans", sans-serif;
    color: white;
}
.text_aviso-w{
    font-size: 1.85vh;
    font-family: "PT Sans", sans-serif;
    color: white;
}
.text_peq-w{
    font-size: 1.48vh;
    font-family: "PT Sans", sans-serif;
    color: white;
}

/* /////////Buttons/////////// */
.btn_back {
    padding-top: 0.4vh; /* 4px */
    position: absolute;
    top: 3%;
    left: 2%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    width: 10vh; /* 100px */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn_back:hover {
    color: var(--main-color);
    transform: scale(1.07);
}

.btn_rosa {
    width: 24.7vh; /* 247px */
    height: 4.9vh; /* 49px */
    background-color: var(--main-color);
    border-radius: 0.8vh; /* 8px */
    color: white;
    text-align: center;
    border: none;
    transition: transform 0.2s ease;
}

.btn_rosa:hover {
    background-color: #c0033f;
    transform: scale(0.96);
}

.btn_branco {
    width: 24.7vh; /* 247px */
    height: 4.9vh; /* 49px */
    background-color: var(--bg-color);
    border-radius: 0.8vh; /* 8px */
    color: var(--main-color);
    text-align: center;
    border: none;
    transition: transform 0.2s ease;
    border: 0.1vh solid var(--main-color); /* 1px */
}

.btn_branco:hover {
    background-color: var(--main-color);
    color: var(--bg-color);
    transform: scale(0.96);
}

.btn_branco-w {
    width: 24.7vh; /* 247px */
    height: 4.9vh; /* 49px */
    background-color: var(--bg-color);
    border-radius: 0.8vh; /* 8px */
    color: var(--main-color);
    text-align: center;
    border: none;
    transition: transform 0.2s ease;
    border: 0.1vh solid var(--main-color); /* 1px */
}

.btn_branco-w:hover {
    background-color: #d3d3d3;
    transform: scale(0.96);
}

.btn_azul {
    width: 24.7vh; /* 247px */
    height: 4.9vh; /* 49px */
    border-radius: 0.8vh; /* 8px */
    color: var(--blue-color);
    background-color: none;
    text-align: center;
    border: none;
    border: 0.1vh solid var(--blue-color); /* 1px */
    transition: transform 0.2s ease;
}

.btn_azul:hover {
    background-color: var(--blue-color);
    color: white;
    border: none;
    transform: scale(0.96);
}

.btn_cinza {
    width: 24.7vh; /* 247px */
    height: 4.9vh; /* 49px */
    background-color: #636466;
    border-radius: 0.8vh; /* 8px */
    color: white;
    text-align: center;
    border: none;
    transition: transform 0.2s ease;
}

.btn_cinza:hover {
    background-color: #3b3b3b;
    transform: scale(0.96);
}

.next-step {
    width: 24.7vh; /* 247px */
    height: 4.9vh; /* 49px */
    border: none;
    background-color: white;
    border-radius: 0.8vh; /* 8px */
    box-shadow: 0.4vh 0.4vh rgba(0,0,0,0.2); /* 4px */
    transition: transform 0.2s ease;
}

.next-step:hover {
    box-shadow: none;
    background-color: #c7c7c7;
    transform: scale(0.96);
}

.back-step {
    width: 24.7vh; /* 247px */
    height: 4.9vh; /* 49px */
    border: none;
    background-color: var(--bg-color);
    border-radius: 0.8vh; /* 8px */
    box-shadow: 0.4vh 0.4vh rgba(0,0,0,0.2); /* 4px */
    transition: transform 0.2s ease;
}

.back-step:hover {
    box-shadow: none;
    background-color: #d6d6d6;
    transform: scale(0.96);
}

/* /////////imagens/////////// */
.img_media{
    width: 246px;
    height: 369px;
    margin-top: 50px;
    border-radius: 18px;
}
.img_prof{
    width: 158px ;
    height: 158px ;
    border-radius: 80px;
}
.img_prof_big{
    width: 240px ;
    height: 240px ;
    border-radius: 120px;
}
.img-logo{
    width: 8.78vh;
    height: 8.78vh;
    border-radius: 8px;
}

/* /////////inputs/////////// */

.input-p {
    height: 4.8vh; /* 48px */
    width: 17vh; /* 170px */
    background-color: none;
    border-radius: 0.8vh; /* 8px */
    border: 0.05vh solid rgb(66, 66, 66); /* 0.5px */
}

.input-p:hover {
    border: 0.05vh solid var(--main-color); /* 0.5px */
    transform: scale(1.02);
}

.input-m {
    height: 4.8vh; /* 48px */
    width: 24.8vh; /* 248px */
    background-color: none;
    border-radius: 0.8vh; /* 8px */
    border: 0.05vh solid rgb(66, 66, 66); /* 0.5px */
    transition: transform 0.3s ease; 
}

.input-m:hover {
    border: 0.05vh solid var(--main-color); /* 0.5px */
    transform: scale(1.02);
}

.input-g {
    height: 4.8vh; /* 48px */
    width: 40vh; /* 400px */
    background-color: none;
    border-radius: 0.8vh; /* 8px */
    border: 0.05vh solid rgb(66, 66, 66); /* 0.5px */
    transition: transform 0.3s ease;
}

.input-g:hover {
    border: 0.05vh solid var(--main-color); /* 0.5px */
    transform: scale(1.02);
}

.input-gg {
    height: 4.8vh; /* 48px */
    width: 60vh; /* 600px */
    background-color: none;
    border-radius: 0.8vh; /* 8px */
    border: 0.05vh solid rgb(66, 66, 66); /* 0.5px */
    transition: transform 0.3s ease;
}

.input-gg:hover {
    border: 0.05vh solid var(--main-color); /* 0.5px */
    transform: scale(1.02);
}

.input-d {
    height: 8vh; /* 80px */
    width: 60vh; /* 600px */
    background-color: none;
    border-radius: 0.8vh; /* 8px */
    border: 0.05vh solid rgb(66, 66, 66); /* 0.5px */
    transition: transform 0.3s ease;
}

.input-d:hover {
    border: 0.05vh solid var(--main-color); /* 0.5px */
    transform: scale(1.02);
}